*~
*.swp

*.class

# osx
.DS_Store

# Eclipse build artifacts
.project
.classpath

# Maven
target

build/
**/build/
classes

#intellij
.idea/
*.iml
*.ipr
*.iws
**/*.iml
out/
**/.classpath
**/.project
.settings/
**/.settings/

